@import "./variables";
@import "./mixins";

.footer-container {
  @include flex-centering-column();
  height: 30vh;
  width: 100vw;
  background-color: $primary-color-nav;
}


.footer-inner-container {
  @include flex-centering-column();
  height: 90%;
  width: 90%;
}

.social-link-containers {
  @include flex-centering-row();
  height: 25%;
  width: 100%;
}

.fa-instagram {
  margin: 0 2rem;
  color: $primary-color-text;
  font-size: 5rem;
}

.fa-facebook-square {
  margin: 0 2rem;
  color: $primary-color-text;
  font-size: 5rem;
}

.fa-twitter-square {
  margin: 0 2rem;
  color: $primary-color-text;
  font-size: 5rem;
}

.fa-instagram:hover {
  color: $primary-color-light;
}

.fa-facebook-square:hover {
  color: $facebook-icon-color;
}

.fa-twitter-square:hover {
  color: $twitter-icon-color;
}

.footer-title-contianer {
  @include flex-centering-row();
  height: 35%;
  width: 100%;
  margin: 1rem;
}

.footer-title {
  text-align: center;
  font-size: 5rem;
  color: $primary-color;
}

.footer-nav {
  height: 20%;
  width: 100%;
  @include flex-centering-row();
}

.nav-links-f {
  width: 100vw;
  @include flex-centering-row();
  height: 100%;
}

.list-link-f {
  text-decoration: none;
  color: $primary-color-light;
  height: 100%;
  width: 100%;
  @include flex-centering-column();
}

.list-content-f:hover,
.list-content-f:active,
.list-content-f:focus {
  transition: 0.3s ease;
  background-color: $accent-color;
}

.list-content-f {
  height: 100%;
  font-size: 3rem;
  display: inline-block;
  padding: 0.8rem;
  width: 15%;
}
