@import "./variables";
@import "./mixins";

#gallery-container {
  background: rgb(255, 239, 239);
  background: linear-gradient(
    360deg,
    rgba(255, 239, 239, 1) 0%,
    rgba(255, 232, 210, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  @include flex-centering-column();
  position: relative;
}

.gallery-title {
  color: $primary-text-color-light;
  background: $primary-color-section;
  text-align: center;
  @include flex-centering-row;
  font-size: 8rem;
  height: 16vh;
  margin: 5rem;
  padding: 1rem;
  border-radius: 2rem;
}

.gallery-box-title {
  width: 100%;
  color: white;
  background-color: $primary-color-section;
  font-size: 4rem;
  padding: 2rem;
}

.gallery-box-container {
  padding: 2rem;
  flex: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box {
  height: 60%;
  width: 25vw;
  border-radius: 3rem;
}

.gallery-box {
  border-radius: 3rem;
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.box:hover .gallery-box {
  transform: rotateY(180deg);
}

.box:focus .gallery-box {
  transform: rotateY(180deg);
}

.back-title {
  font-size: 4rem;
}

.back-content {
  padding: 1.3rem;
  font-size: 2rem;
}

.gallery-box-1 {
  @include gallery-box();
  @include background-img-cntr();
  background-image: url(../img/general-tso-chichen.png);
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.gallery-box-1-back {
  position: absolute;
  border-radius: 3rem;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: white;
  transform: rotateY(180deg);
  @include flex-centering-column();
}

.gallery-box-2 {
  @include gallery-box();
  @include background-img-cntr();
  background-image: url(../img/wings.jpg);
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.gallery-box-2-back {
  border-radius: 3rem;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: white;
  transform: rotateY(180deg);
  @include flex-centering-column();
}

.gallery-box-3 {
  @include gallery-box();
  @include background-img-cntr();
  background-image: url(../img/Lomain.jpg);
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: black;
}

.gallery-box-3-back {
  border-radius: 3rem;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: white;
  transform: rotateY(180deg);
  @include flex-centering-column();
}

@media only screen and (max-width: 800px) {
  .gallery-title {
    margin: 3rem;
    font-size: 6rem;
  }
  .back-title {
    font-size: 3rem;
  }

  .back-content {
    font-size: 1.5rem;
  }
  .gallery-box-title {
    font-size: 2.8rem;
  }

  #gallery-container {
    height: 170vh;
  }

  .gallery-box-container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin: 3rem;
    flex-direction: row;
  }
}
