@import "./variables";
@import "./mixins";

.gallery-container {
  height: 100vh;
  background: rgb(255, 239, 239);
  background: linear-gradient(
    360deg,
    rgba(255, 239, 239, 1) 0%,
    rgba(255, 232, 210, 1) 100%
  );
  @include flex-centering-column();
}

.gallery-title {
  text-align: center;
  color: $primary-text-color;
  font-size: 8rem;
  margin-bottom: 6rem;
}

.gallery-box-container {
  width: 100%;
  @include flex-centering-row();
}

.gallery-box-2 {
  @include gallery-box();
  @include background-img-cntr();
  background-image: url(../img/wings.jpg);
}

.gallery-box-3 {
  @include gallery-box();
  @include background-img-cntr();
  background-image: url(../img/Lomain.jpg);
}

.gallery-box-title {
  width: 100%;
  color: white;
  background-color: $primary-color-section;
  font-size: 4rem;
  padding: 2rem;
}

.box {
  height: 60vh;
  width: 33vw;
  background-color: green;
}

.gallery-box {
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d !important;
  width: 100%;
  height: 100%;
}

.box:hover .gallery-box {
  transform: rotateY(180deg);
}

.gallery-box-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: black;
}

.gallery-box-1-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: blue;
  transform: rotateY(180deg);
}
