@import "./variables";
@import "./mixins";

.header {
  position: relative;
  @include flex-centering-row();
  background-image: url(../img/Wok-1.jpg);
  @include background-img-cntr();
  height: 95vh;
  width: 100vw;
}

.header-title-container {
  top: 17%;
  position: absolute;
  border-radius: 2rem;
  height: 28vh;
  width: 80%;
  @include flex-centering-column();
  background-color: $primary-color-section;
}

.header-title-main {
  border-radius: 2rem;
  width: 100%;
  background-color: $primary-color-section;
  text-align: center;
  color: white;
  font-size: 12rem;
  padding: 1.5rem;
}

.header-title-sub {
  border-radius: 2rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(204, 125, 125, 1) 0%
  );
  text-align: center;
  color: white;
  font-size: 5rem;
  padding: 1.2rem;
  width: 100%;
}

@media only screen and (max-width: 1070px) {
  .header-title-main {
    font-size: 9rem;
  }
  .header-title-sub {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .header-title-main {
    font-size: 7rem;
  }
  .header-title-sub {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 560px) {
  .header-title-main {
    font-size: 5rem;
  }
  .header-title-sub {
    font-size: 2rem;
  }
}
