@import "./variables";
@import "./mixins";

.header {
  overflow-x: hidden;
  @include flex-centering-row();
  background-image: url(../img/Wok-img.jpg);
  background-size: cover;
  background-position: center;
  height: 95vh;
  width: 100vw;
}

.header-title-box {
  margin-bottom: 43rem;
  @include flex-centering-column();
}

.header-title-main {
  text-align: center;
  color: white;
  font-size: 14rem;
}

.header-title-sub {
  text-align: center;
  color: white;
  font-size: 6rem;
}

@media only screen and (max-width: 1070px) {
  .header-title-main {
    font-size: 10rem;
  }
  .header-title-sub {
    font-size: 4rem;
  }
}
