@import "./mixins";
@import "./variables";

.locations{
    @include flex-centering-column();
    height: 100vh;
    background-color: purple;
    width: 100%;
}

.location-container {
    padding: 2rem;
    @include flex-centering-row();
    position: relative;
    align-content: center;
    flex-wrap: wrap;
    height: 82vh;
    width: 100%;
    overflow: hidden;
  }
  
  .location-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
  
    background-color: $secondary-text-color;
    color: white;
    font-size: 4rem;
  }
  
  .location-box {
    overflow: hidden;
    position: relative;
    margin: 5em;
    height: 38vh;
    flex: 1;
  }

  .location-title {
    height: 12vh;
    @include flex-centering-column();
    font-size: 5rem;
  }

  .box-1 {
    @include background-img-cntr();
    background-image: url(..);
  }
