@import "./variables";
@import "./mixins";

.popup-text {
  font-size: 5rem;
}

.popup-content-container {
  padding: 3rem;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.popup:target {
  opacity: 1;
  z-index: 10;
  position: absolute;
  height: 100vh;
  max-height: 100%;
  width: 80vw;
  max-width: 100%;
  background-color: $primary-color;
  visibility: visible;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.close {
  position: relative;
}

.close::after {
  top: 1rem;
  left: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  z-index: 1;
  color: black;
  font-size: 3rem;
  @include flex-centering-row();
  align-content: center;
  content: "x";
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}
