@import "./variables";
@import "./mixins";
@import "./menu-popup";

#menu {
  height: 100vh;
  background-color: $primary-color-section;
  @include flex-centering-column();
  width: 100vw;
  position: relative;
}

.menu-container {
  @include flex-centering-row();
  position: relative;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
}

.menu-container-inner {
  height: 50%;
  width: 90%;
  @include flex-centering-row();
}

.menu-container-inner-1 {
  height: 50%;
  width: 90%;
  @include flex-centering-row();
}

.box-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: $secondary-text-color;
  color: $primary-text-color-light;
  padding: 0.5rem;
  font-size: 3rem;
  border-radius: 0 0 1rem 1rem;
}

.menu-box,
.menu-box:focus {
  position: relative;
  margin: 1.5rem;
  height: 38vh;
  flex: 1;
  border-radius: 1rem;
}

.menu-title-container {
  @include flex-centering-column();
  height: 15%;
  width: 100%;
}

.menu-title {
  background-color: $primary-color;
  @include flex-centering-column();
  font-size: 5rem;
  width: 80%;
  height: 70%;
  border-radius: 1rem;
}

.box-1 {
  @include background-img-cntr();
  background-image: url(../img/lunch-special.jpg);
}

.box-2 {
  @include background-img-cntr();
  background-image: url(../img/combo-platter.jpg);
}

.box-3 {
  @include background-img-cntr();
  background-image: url(../img/menu-appitizers.jpg);
}

.box-4 {
  @include background-img-cntr();
  background-image: url(../img/menu-sides.jpg);
}

.box-5 {
  @include background-img-cntr();
  background-image: url(../img/menu-specials.jpg);
}

@media only screen and (max-width: 800px) {
  .box-1 {
    @include background-img-cntr();
    background-image: url(../img/lunch-special-m.jpg);
  }

  .box-2 {
    @include background-img-cntr();
    background-image: url(../img/combo-platter-m.jpg);
  }

  #menu {
    height: 220vh;
  }

  .menu-container {
    height: 100%;
    flex-direction: column;
  }

  .menu-container-inner {
    flex-direction: column;
    height: 58%;
  }

  .menu-container-inner-1 {
    flex-direction: column;
    height: 38%;
  }

  .menu-box {
    flex-direction: row;
    width: 85%;
    height: 100%;
  }

  .menu-title-container {
    margin: 3rem;
    height: 6%;
  }

  .menu-title {
    height: 100%;
  }
}
