@import "./variables";
@import "./mixins";

.popup-title {
  text-align: center;
  font-size: 6rem;
}

.popup-text {
  width: 50%;
  height: 68%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.popup-content-container {
  padding: 3rem;
  overflow: auto;
  @include abs-pos-centering();
  width: 75%;
  height: 75%;
  background-color: $primary-color;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  background-color: $primary-color-text;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.close {
  text-decoration: none;
  @include flex-centering-row();
  font-size: 3rem;
  width: 4rem;
  border-radius: 50%;
  height: 4rem;
  top: 1rem;
  right: 2.5rem;
  position: absolute;
  cursor: pointer;
  overflow-y: hidden;
  color: $primary-color-text;
  background-color: $primary-text-color-light;
}
