@import "./variables";

@mixin flex-centering-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-centering-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin border {
  border: 0.3rem solid lightblue;
}

@mixin gallery-box {
  text-align: center;
  color: $primary-text-color-light;
  height: 100%;
  flex: 1;
  border-radius: 3rem;
  @include flex-centering-column();
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

@mixin background-img-cntr {
  background-size: cover;
  background-position: center;
}

@mixin abs-pos-centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
