@import "./variables";

@mixin flex-centering-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-centering-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin border {
  border: 0.3rem solid lightblue;
}

@mixin gallery-box {
  text-align: center;
  color: $primary-text-color;
  height: 100%;
  flex: 1;
  border-radius: 3rem;
  @include flex-centering-column();
}

@mixin background-img-cntr {
  background-size: cover;
  background-position: center;
}
