@import "./variables";
@import "./mixins";

.navigation-checkbox {
  display: none;
}

.nav {
  text-align: center;
  z-index: 10;
  position: fixed;
  @include flex-centering-row();
  height: 5vh;
  background-color: $primary-color-nav;
}

.nav-links {
  width: 100vw;
  @include flex-centering-row();
  height: 100%;
}

.list-link {
  text-decoration: none;
  color: $primary-text-color-light;
  height: 100%;
  width: 100%;
  @include flex-centering-column();
}

.list-content:hover,
.list-content:active,
.list-content:focus {
  transition: 0.3s ease;
  background-color: $accent-color;
}

.list-content {
  height: 100%;
  font-size: 4rem;
  display: inline-block;
  padding: 0.8rem;
  width: 15%;
}

@media only screen and (max-width: 1070px) {
  .list-content {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .navigation-checkbox {
    display: none;
  }

  .navigation-button {
    background-color: $primary-text-color-light;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 15;
    text-align: center;
    cursor: pointer;
  }

  .navigation-icon {
    position: relative;
    margin-top: 50%;
  }

  .navigation-icon::before {
    content: "";
    position: absolute;
    top: -0.8rem;
    left: 0;
  }

  .navigation-icon::after {
    content: "";
    position: absolute;
    top: 0.8rem;
    left: 0;
  }

  .navigation-icon,
  .navigation-icon::before,
  .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: $primary-color-text;
    display: inline-block;
    transition: all 0.2s;
  }

  .navigation-button:hover .navigation-icon::before {
    top: -1rem;
  }
  .navigation-button:hover .navigation-icon::after {
    top: 1rem;
  }

  .navigation-checkbox:checked + .navigation-button .navigation-icon {
    background-color: transparent;
  }

  .navigation-checkbox:checked + .navigation-button .navigation-icon::before {
    transform: rotate(135deg);
    top: 0;
  }

  .navigation-checkbox:checked + .navigation-button .navigation-icon::after {
    transform: rotate(-135deg);
    top: 0;
  }

  .nav {
    height: 100vh;
    width: 50%;
    opacity: 0;
    @include flex-centering-row();
    top: 0;
    right: 100%;
    transition: ease-in-out 0.6s;
  }

  .nav-links {
    @include flex-centering-column();
  }

  .navigation-checkbox:checked ~ .nav {
    opacity: 1;
    right: 50%;
  }

  .list-content {
    height: 8vh;
    font-size: 6rem;
    width: 100%;
    margin: 1rem auto;
    @include flex-centering-column();
  }
}
