

$primary-color-dark: #ffa000;
$primary-color: rgba(255, 232, 210, 1);
$primary-color-light: rgb(255, 239, 239);
$primary-color-text: #212121;
$accent-color: #ffc107;
$primary-text-color-light: #ffffff;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$primary-color-nav: #9e4545;
$primary-color-section: #b56262;
