html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

$primary-color-dark: #ffa000;
$primary-color: #ffc107;
$primary-color-light: #ffecb3;
$primary-color-text: #212121;
$accent-color: #ffc107;
$primary-text-color: #ffffff;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$primary-color-nav: #9e4545;
