$primary-color-dark: #ffa000;
$primary-color: #ffc107;
$primary-color-light: #ffecb3;
$primary-color-text: #212121;
$accent-color: #ffc107;
$primary-text-color-light: #ffffff;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$primary-color-nav: #9e4545;
$primary-color-section: #b56262;
