.popup-text {
  font-size: 5rem;
}

.popup-content-container {
  padding: 3rem;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
}

.popup:target {
  opacity: 1;
  z-index: 10;
  position: absolute;
  height: 100vh;
  max-height: 100%;
  width: 80vw;
  max-width: 100%;
  background-color: #ffc107;
  visibility: visible;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.close {
  position: relative;
}

.close::after {
  top: 1rem;
  left: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  z-index: 1;
  color: black;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  content: "x";
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

#menu {
  height: 100vh;
  background-color: #b56262;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: relative;
  border: 0.3rem solid darkblue;
}

.menu-container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 82vh;
  width: 100%;
}

.box-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  border: 0.3rem solid darkblue;
  background-color: #757575;
  color: white;
  font-size: 4rem;
}

.menu-box {
  overflow: hidden;
  position: relative;
  margin: 5em;
  height: 38vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.menu-title {
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5rem;
}

.box-1 {
  background-size: cover;
  background-position: center;
  background-image: url(../img/ch-w-br.jpg);
}

.box-2 {
  background-size: cover;
  background-position: center;
  background-image: url(../img/combo-platter.jpg);
}

.box-3 {
  background-size: cover;
  background-position: center;
  background-image: url(../img/menu-appitizers.jpg);
}

.box-4 {
  background-size: cover;
  background-position: center;
  background-image: url(../img/menu-sides.jpg);
}

.box-5 {
  background-size: cover;
  background-position: center;
  background-image: url(../img/menu-specials.jpg);
}

.locations {
  height: 100vh;
  background-color: black;
}

.nav {
  text-align: center;
  z-index: 10;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5vh;
  background-color: #9e4545;
}

.nav-links {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-link {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.list-link:hover,
.list-link:active {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #ffc107;
}

.list-content {
  font-size: 5rem;
  display: inline-block;
  padding: 0 2rem;
  overflow-y: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url(../img/Wok-img.jpg);
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.header-title-box {
  margin-bottom: 49rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-title-main {
  text-align: center;
  color: white;
  font-size: 14rem;
}

.header-title-sub {
  text-align: center;
  color: white;
  font-size: 6rem;
}

.gallery-container {
  height: 100vh;
  background: #ffefef;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffefef), to(#ffe8d2));
  background: linear-gradient(360deg, #ffefef 0%, #ffe8d2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-title {
  text-align: center;
  color: #ffffff;
  font-size: 8rem;
  margin-bottom: 6rem;
}

.gallery-box-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery-box-1 {
  text-align: center;
  color: #ffffff;
  height: 60vh;
  margin: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url(../img/general-tso-chichen.png);
}

.gallery-box-2 {
  text-align: center;
  color: #ffffff;
  height: 60vh;
  margin: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url(../img/wings.jpg);
}

.gallery-box-3 {
  text-align: center;
  color: #ffffff;
  height: 60vh;
  margin: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url(../img/Lomain.jpg);
}

.gallery-box-title {
  font-size: 4rem;
  padding: 2rem;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */