@import "./menu";
@import "./variables";
@import "./nav";
@import "./header";
@import "./gallery";
@import "./locations";
@import "./contact-and-about-us";
@import "./footer";

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html,
  body,
  * {
    font-size: 50.5%;
  }
}

@media only screen and (max-width: 400px) {
  html,
  body,
  * {
    font-size: 40.5%;
  }
}

@media only screen and (max-width: 300px) {
  html,
  body,
  * {
    font-size: 32.5%;
  }
}
