@import "./menu";
@import "./variables";
@import "./nav";
@import "./header";
@import "./gallery";

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}
@import "./locations";
